<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
     <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-title>Detalhes do Usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-img [src]="usuarioSelecionado?.foto"></ion-img>
        <ion-card-header>
            <ion-card-title>{{usuarioSelecionado?.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p><b>Detalhes do Usuário:</b></p>
            <p><b>ID:</b> {{usuarioSelecionado?.id}}</p>
            <p><b>Nome:</b> {{usuarioSelecionado?.nome}}</p>
            <p><b>Email:</b> {{usuarioSelecionado?.email}}</p>
            <p><b>Currículo:</b></p>
            <p align="justify">{{usuarioSelecionado?.curriculo}}</p>
        </ion-card-content>
    </ion-card>
</ion-content>
