<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Usuários</ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="logout()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list inset="true">
        <ion-item *ngFor='let usuario of usuarios' (click)="exibiDetalhes(usuario.id)">
            <ion-avatar slot="start">
                <img [src]="usuario.foto">
            </ion-avatar>
            <ion-label>
                <!-- Chama a função que inverte os nomes -->
                {{inverteNome(usuario.nome)}}
                <h2><b>{{sobrenome}}</b>{{nome}}</h2>
                <h3>{{usuario.email}}</h3>
                <p>Clique para Detalhes</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
