<ion-header>
  <ion-toolbar>
    <ion-title>
      Trabalho - Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Acesso Usuário</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-input required type="text" placeholder="Nome" [(ngModel)]="usuarioNome"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input required type="password" placeholder="Senha" [(ngModel)]="usuarioSenha"></ion-input>
          </ion-item>

          <br>

          <ion-button expand="full" (click)="logar()">Login</ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>
